      <!-- Content Row-->
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Facturas Maruja</h2>
                    <p class="card-text">Aplicación web orientada a móviles que brinda el servicio de emisión de factura electrónica para los comerciantes de Colombia y estar al día en sus impuestos con la institución guvernamental DIAN.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Explora la App!</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">fantasiasnewyork.com</h2>
                    <p class="card-text">Ecommerce desarrollado en Flutter para el comercio nacional colombiano Fantasías New York, con una lógica de negocios orientada principalmente al comercio mayorista, siendo una app B2B.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://fantasiasnewyork.com/">Explora la App!</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100">
                <div class="card-body">
                    <h2 class="card-title">Fantasías New York ERP</h2>
                    <p class="card-text">Aplicación corporativa desarollada en Node y VueJS con arquitectura basada en componentes destinada a los empleados y directivos de la empresa Fantasías New York. Migrada hacia Golang.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="https://heroku-g17j.onrender.com/">Explora la App!</a></div>
            </div>
        </div>
    </div>
    <div class="card text-white my-5 py-4 text-center">
        <div class="center">
            <video width="320" height="240" controls style="align-content: center;">
                <source src="assets/video2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="card-body" id="youtube">
        <p class="m-0" style="font-size: x-large; text-align: center;">
            <a target="_blank" href="https://www.youtube.com/@WoldevStudios"><img class="img-fluid rounded mb-4 mb-lg-0" src="assets/logo.png" alt="Woldev Youtube Channel"></a>
            <br><h4>Check Out My Youtube Channel for Technical Videos and Tutorials</h4><br>
        </p>
    </div>